@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat",
    sans-serif !important;
  color: rgba(31, 33, 40, 1);
}

.app {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: rgba(31, 33, 40, 1) !important;
}

.horizontal-line {
  margin: 10px auto;
  width: 340px;
  border: .7px solid rgba(205, 205, 205, .5);
  border-radius: 4px;
}

.me,
a {
  /* ignore these styles please */
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 12px;
  text-decoration: none;
  transition: all 0.5s ease;
}