.card {
    width: 370px;
    height: 326px;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 6px;
    box-shadow: 0px 8px 15px 0px rgba(20, 20, 20, 0.12);
    box-shadow: 0px 0px 4px 0px rgba(20, 20, 20, 0.1);
}