.checkbox {
    border: 1px solid #CDCDCD;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: white;
    padding: 0;
    transition: all 120ms ease;
}

/* Hover ONLY when unchecked */
.checkbox-hover {
    border-color: #BDBDBD;
}

/* FINAL CHECKED */
.checkbox-checked {
    background-color: #2F7FF7;
    border-color: #2F7FF7;
}

/* TRANSITION: unchecked → checked */
.checkbox-transition-checked {
    /* border-color: #2F7FF7; */
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgb(47, 127, 247, .3);
    opacity: .7;
}

/* TRANSITION: checked → unchecked */
.checkbox-transition-unchecked {
    background-color: white;
    box-shadow: 0px 0px 0px 2px rgb(47, 127, 247, .1);
    border-color: #CDCDCD;
    opacity: .5;
}